:root {
    --pulse-color-page-background: #eafaf1;
    --pulse-color-card-background: #d6dae5;
    --pulse-color-faq-background: #fcfcfc;
    --pulse-color-headings: #00ad6a;
    --pulse-color-buttons: #1fe374;
    --pulse-color-dark: #080c16;

}

body {
    font-family: 'Work Sans';
    color: var(--pulse-color-dark);
    background-color: var(--pulse-color-page-background);
    font-size: 14px;
    padding-top: 3rem;
  
}

#main{
    background: solid var(--pulse-color-page-background);
    padding: 3rem;
    border-bottom: solid var(--pulse-color-card-background);
}

ul  {
    list-style-type: none;
}

.navbar{
    display: flex;
    color: var(--pulse-color-headings);
    background-color: var(--pulse-color-page-background);
    font-size: smaller;
    font-weight:700;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    

}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    color: inherit;
    flex-wrap: wrap;
}

nav ul li{
    padding: 8px;
}



nav ul li a {
    text-decoration: none; 
    color: inherit; 
    border: 2px solid transparent;
    padding:5px 10px;
}

nav ul li a:hover{
    text-decoration: none;
    color: var(--pulse-color-buttons);
    border-color: var(--pulse-color-buttons);
}

nav ul li a:active{
    color: #080c16;
}

.active{
    color: #080c16;
}

h1{
    text-align: center;
    font-weight: 800;
}

h2{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 2rem;

}

p{
    padding: 0rem;
    margin: 0rem;
}

.container{
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 2px;
    margin: 0;
}

#card1 {
    padding: 3rem;
    width: 33%;
}

#card1 h3 {
    color: var(--pulse-color-headings);
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 1rem;
    margin: 0;
    text-align: justify;

}

#card1 ul {
    list-style-type: disc;
    font-size: 0.75rem;
    padding-left: 15px;
}

#card1 p{
    font-size: 0.75rem;
}


#card2{
   
    border: 2px solid var(--pulse-color-headings);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 4rem;
    width: 33%;
}




#card2 h3 {
    background-color: var(--pulse-color-headings);
    color: white;
    font-size: 0.75rem;
    text-align: center;
    width: 100%;
    margin: 0;
   
}

#card2 h2 {
    font-size: 2rem;
    font-weight: 1000;
    color: var(--pulse-color-headings);
    padding-bottom: 1rem;
    padding-top: 0;
    margin: 0;
 }

 #card2 button{
    background-color: var(--pulse-color-buttons);
    border-color: var(--pulse-color-buttons);
    border-style: solid;
    font-weight: 700;
    padding: 4px 20px;
    margin-bottom: 1rem;
}

h4.card {
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: none;
}

h4.listhead {
    font-size: x-small;
    text-align: center;
    padding-top: 8px;
}



#card2 ul{
    padding-left: 12px;
    padding-right: 16px;
    margin: 0;
    font-size: 0.75rem;
}

.checkmark li{
    position: relative;
    padding-left: 16px;
    padding-bottom: 1rem;
    left: 1;
}

.checkmark li::before{
    content: '✓';
    color: var(--pulse-color-headings);
    position: absolute;
    left: 0;
}

#card3 {
    background-color: white;
    border: solid var(--pulse-color-card-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    width: 33%;
}

#card3 h5{
    text-align:center;
    font-size: 0.75rem;
    padding: 1rem;
    background-color:#eaeef7;
    border-bottom: solid var(--pulse-color-card-background);
}

#card3 h3{
    color: var(--pulse-color-headings);
}

#card3 button{
    background-color: var(--pulse-color-buttons);
    border-color: var(--pulse-color-buttons);
    border-style: solid;
    font-weight: 700;
    padding: 4px 20px;
    margin-bottom: 1rem;
}

#card3 ul{
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    font-size: 0.75rem;
    text-align: left;
}

.quote
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.quote q{
    display: inline;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0;
}

.quote p{
    color: var(--pulse-color-headings);
    font-size: 0.6rem;
    font-weight: 800;
}

#faq{
    background-color: white;
    width: 100%;
    padding: 20px;
}
